<!DOCTYPE HTML>
<html>
	<head>
		<link href = "menu.css" type = "text/css" rel = "stylesheet">
		<title> Example</title>
	</head>
	
	<body>
	
		<div id="wrap">
		  <form action="" autocomplete="on">
			<input id="search" name="search" type="text" placeholder="Search..."><input id="search_submit" value="Rechercher" type="submit">
		  </form>
		</div>

		<nav class="nav">
			<ul>
				<li>
					<a href="#">A</a>
					<ul>
						<li><a href="#">A1</a></li>
						<li><a href="#">A2</a></li>
						<li><a href="#">A2</a></li>
					</ul>
				</li>
				<li>
					<a href="#">B</a>
					<ul>
						<li><a href="#">B1</a></li>
						<li><a href="#">B2</a></li>
						<li><a href="#">B3</a></li>
					</ul>
				</li>
				<li>
					<a href="#">C</a>
					<ul>
						<li><a href="#">C1</a></li>
						<li><a href="#">C2</a></li>
						<li><a href="#">C3</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		
	</body>
</html>
